site_name: RAG Notes
site_url: https://kbhatiya999.github.io/rag-notes-error/
repo_url: https://github.com/kbhatiya999/rag-notes
repo_name: rag-notes

nav:
  - Home: index.md
  - How To Setup Your Own Notes:
    - Getting Started: "How To Setup Page Like This/getting-started.md"
    - Upload to GitHub: "How To Setup Page Like This/github.md"
    - Deploy to GitHub Pages: "How To Setup Page Like This/github-pages.md"

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
